extends layout

block styles
block scripts
block content


    #display
    h1= title
    p Welcome to #{title}


    br
    br

    #wrapper
        #logo
            img(src='/img/ok.gif', alt='Open xD')

    #footer
        #logo
            img(src='/img/poker.png', alt='Open xD')

        blockquote #{fortunes}