doctype html
html
    head
        title=title


        //- Stylesheets
        style(type="text/css")
            include ../public/css/bootstrap.css
            include ../public/css/style.css
        block styles
        //- Javascripts
        script(type="text/javascript")
            include ../public/js/jquery.js
            include ../public/js/bootstrap.js
            include ../public/js/script.js
        block scripts
    body
        //- Content
        block content

