<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">

            p {
                color: #00f;
                text-decoration: underline;
            }

        </style>
    </head>
    <body>
        <h1>includes</h1>

        <p>this is a file for demonstrating the use of includes in Jade</p>
        <!--
        Created by anna on 26/04/15.

        -->
        <p>Godel Escher Bach: An Eternal Golden Braid by Douglas Hofstadter</p>
        <!--
        Created by anna on 26/04/15.

        -->
        <p>Slaughter-House Five by Kurt Vonnegut</p>
    </body>
</html>